@import "./layout.scss";
@import "./mediaQuery.scss";

body {
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: red;
  opacity: 0.8;
}

.bgc-presentation_question {
  background: blue url('../_assets/presentation_question.png') center center no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

//////////////////////// flip card front to back 3d effect
.flip-card {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; // becausse you have front side and back side at the same time, at beginning the back side will cover the front side, so use this to hide the back side at beginning
}

.flip-card-front {
  background-color: #bbb;
}

.flip-card-back {
  background-color: #4CAF50;
  transform: rotateY(180deg);
}

.flip-card-back h2,
.flip-card-front h2 {
  padding: 50px;
  font-size: 30px;
}
//////////////////////// END flip card front to back 3d effect

/* Hide the default checkbox or radio button */
input#purecss-checkbox, input#purecss-radio {
  display: none;
}

input[type="checkbox"] + label::before, input#purecss-radio + label.radio::before {
  content: "";
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-right: 10px; // margin between radio or checkbox and label
  pointer-events: none;
  outline: 2px solid blue;
}

label.checkbox:before {
  border-radius: 3px;
}

label.radio:before {
  border-radius: 50%;
}

label.checkbox, label.radio {
  margin-right: 1rem; // margin gap between 2 labels
}

/* Style the custom checkbox or radio button when checked */
input#purecss-checkbox:checked + label.checkbox:before, input#purecss-radio:checked + label.radio:before {
  background-color: #333;
}
